/* YOUR CUSTOM STYLES */
html,
body,
.view {
    height: 100%;
}

/*Intro*/

.view {
    background: url("../img/slider2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

/* Navigation*/

.navbar {
    background-color: transparent;
}


.top-nav-collapse {
    background-color: #ECD134;
}

.nav-li {
  font-size: 18px;
}

.nav-shop {
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #ECD134;
    }
}

/*Intro*/
  .description {
    padding-top: 15%;
    padding-bottom: 3rem;
    color: #fff;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.description a {
  padding: 20px;
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

/*features*/
.app-circle {
  width:140px;
  height: 140px;
  border: 1px solid #F6F607;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.5s ease;
  position: relative;
  }

  .icon-app {
    width: 60px;
    height: 60px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    position: absolute;
    top: 28%;
    left: 28%;
  }


  h4 {
    padding-top: 20px;
    text-align: center
  }
  p {
    text-align: center;
    font-size: 13px;
  }


.app-icon1{
   background-image: url("../img/icon1.png");
}
.app-icon2 {
 background-image: url("../img/icon2.png");
}

.app-icon3{
background-image: url("../img/icon3.png");
}
.app-icon4{
background-image: url("../img/icon4.png");

}

h6 {
  color: red;
  font-size: 13px;
}

/*testimonials*/
.avatar{
  padding-left:30%;
  text-align: center;
  padding-top: 10%;
}


.yo {
  width: 120px;
  height: 120px;
}

.img-testimonial{
  width: 60%;
  height: auto;
}

h5 {
  text-align: center;
  font-size: 12px;
}
.orange-text {
  text-align: center;
}

/*form*/
.myForm {
  margin-bottom: 50px;
}

.container-fluid {
  padding-left: 10%;
}
.icon {
  text-align: center;
}

footer {
  background-color: #333333;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}

footer a {
  color: white;
}
